# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

# Python
*.py[cod]
*.txt

# Sphinx
src/doc/_build/*
src/doc/_static/*
src/doc/_template/*

# GLPK
*.svg
*.ppm
*.dat
*.dis
*.val
*.lp
*.pickle
*.spickle

# Ctags
src/tags

# Sage
*.sagec
